<%= form_for(cart_product) do |f| %>
  <% if cart_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart_product.errors.count, "error") %> prohibited this cart_product from being saved:</h2>

      <ul>
      <% cart_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.number_field :product_id %>
  </div>
  
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, id: :cart_product_user_id, value:logged_in %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
