<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Cart Products</h1>-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Product Name</th>-->
<!--      <th>Image</th>-->
<!--      <th>Quantity</th>-->
<!--      <th>Price per item</th>-->
<!--      <th>User ID (keep for test)</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <%# @cart_products.each do |cart_product| %>-->
<!--      <%# if cart_product.user_id == logged_in %>-->
<!--        <%# if product = get_product_by_id(cart_product.product_id) %>-->
<!--          <tr>-->
<!--            <td><%#= link_to product.name, product %></td>-->
<!--            <td><img src=<%#= product_first_image(product) %> width="200"></td>-->
<!--            <td><%#= cart_product.quantity %></td>-->
<!--            <td><%#= cart_product.user_id %></td>-->
<!--            <td><%#= product.price %></td>-->
<!--            <td><%#= link_to 'Show', cart_product %></td>-->
<!--            <td><%#= link_to 'Edit', edit_cart_product_path(cart_product) %></td>-->
<!--            <td><%#= link_to 'Destroy', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--          </tr>-->
<!--        <%# end %>-->
<!--      <%# end %>-->
<!--    <%# end %>-->
<!--  </tbody>-->
<!--</table>-->
<!--<h1>Total price: <%#= cart_price_total %></h1>-->
<!--<br>-->



<!--<br/>-->
<!--<h1>Full cart table (dev)</h1>-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Product</th>-->
<!--      <th>Quantity</th>-->
<!--      <th>Size</th>-->
<!--      <th>Color</th>-->
<!--      <th>User ID</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <%# @cart_products.each do |cart_product| %>-->
<!--          <tr>-->
<!--            <td><%#= cart_product.product_id %></td>-->
<!--            <td><%#= cart_product.quantity %></td>-->
<!--            <td><%#= cart_product.size %></td>-->
<!--            <td><%#= cart_product.quantity %></td>-->
<!--            <td><%#= cart_product.user_id %></td>-->
<!--            <td><%#= link_to 'Show', cart_product %></td>-->
<!--            <td><%#= link_to 'Edit', edit_cart_product_path(cart_product) %></td>-->
<!--            <td><%#= link_to 'Destroy', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--          </tr>-->
        
<!--    <%# end %>-->
<!--  </tbody>-->
<!--</table>-->
<!-- <%#= link_to 'New Cart Product', new_cart_product_path %>-->

<!--<br></br><br></br>-->

<!--Start Cart -->

<h3 class="bg-secondary text-center">Products In Bag: <%= cart_products_count %> </h3><br></br>

<% if cart_products_count == 0 %>
<div class="container-fluid text-center">
        <div class="position-absolute top-50 start-50 translate-middle"> 
        <i class="bi bi-cart-check-fill" style="font-size: 10rem"></i>
    <h1>It's lonely here</h1>
    <h4 class="fw-lighter">You currently have <%= cart_products_count %> items in your cart. Add some to your cart to bring some joy here...</h4>
    </div>
    </div>
<% else %>

 <div class="container-fluid px-6 py-6 mx-auto bg-light">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading margin-left">Shopping Bag</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-3">
                    <h6 class="mt-2">Color</h6>
                </div>
                
                <div class="col-3">
                    <h6 class="mt-2">Size</h6>
                </div>
                
                <div class="col-3">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                
                <div class="col-3">
                    <h6 class="mt-2">Price</h6>
                </div>
                
            </div>
        </div>
    </div>
    
    <% @cart_products.each do |cart_product| %>
    <% if cart_product.user_id == logged_in %>
    <% if product = get_product_by_id(cart_product.product_id) %>
    <div class="row d-flex justify-content-center border-top">
        <div class="col-5 " >
            <div class="row d-flex ">
                 <!--Product Image goes here-->
                <%= link_to product do %>
                <div class="book margin-left"> <img src=<%= product_first_image(product) %> class="book-img"> </div>
                                <% end %>

                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text margin-left"> <%= product.name %> </h6>
                </div>
                 
            </div>
        <%= link_to 'Remove', cart_product, method: :delete, data: { confirm: 'Are you sure you want to remove this product?' }, class:"mob-text margin-left" %>

        </div>
        <div class="my-auto col-7"> 
            <div class="row text-right">
                <div class="col-3">
                    <h6 class="mob-text"><%= cart_product.color %></h6>
                </div>
                <div class="col-3">
                    <h6 class="mob-text"><%= cart_product.size %></h6>
                </div>
                <div class="col-3">
                    <h6 class="mob-text"><%= cart_product.quantity %></h6>
                </div>
                <div class="col-3">
                    <h6 class="mob-text">$<%= product.price %></h6>
                </div>
             </div>
        </div>
    </div>
  <% end %>
  <% end %>
  <% end %>
    


        <div class="col-lg-12">
            <div class="card ">
                        <h3 class="text-start">Subtotal<h6 class="text-end">$<%= cart_price_total %></h6></h3> 
                            <h3 class="text-start">Taxes</h3>
                            <h6 class="text-end">$2.99</h6>
                        <div class="row d-flex " id="tax">
                            
                            <h3 class="mb-1 text-start">Total (tax included)</h3>
                            <h6 class="mb-1 text-end">$<%= cart_price_total_wtax %></h6>
                        </div>
                        <!--DISPLAY THIS IF IT'S NOT THEIR FIRST TIME CHECKING OUT-->
                        <!--remove stretched link in class if you want to test both buttons-->
                        <% if isRatingShown(logged_in) %>
                         <div class="btn btn-primary  text-start"> <%= link_to 'Checkout', cart_products_checkout_path, class:"text-start text-white stretched-link" %> <span id="check-amt">$<%= cart_price_total_wtax %></span>  </div>
                        <% else %>
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                             <div class="text-start">Checkout <span id="check-amt">$<%= cart_price_total_wtax %></span>  </div>
                        </button>
                       <% end %>

            <!--OTHERWISE DISPLAY THIS --- START OF RATE EXPERIENCE DISPLAY -->
             


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel"> Rate Your Experience</h5>
        <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
       <div class="text-center mb-2">
        <div class="circle-image"> <img src="https://i.imgur.com/39fcglK.png" width="50"> </div> <span class="help-text mb-1 fw-500">Thank you.</span> 
        <small class="text-black-50">Did You Enjoy Your Experience?</small>
        <div class="buttons mb-3 mt-5 px-4"> 
        <button class="btn btn-outline-dark btn-block bi bi-emoji-frown" ><%= link_to ' SO BAD', cart_products_checkout_path(rating: "0"), class:"" %></button> 
        <button class="btn btn-outline-dark btn-block bi bi-emoji-neutral"><%= link_to ' OKAY', cart_products_checkout_path(rating: "1"), class:"" %></button> 
        <button class="btn btn-outline-dark btn-block bi bi-emoji-smile"><%= link_to ' GOOD', cart_products_checkout_path(rating: "2"), class:"" %></button> 
        <button class="btn btn-outline-dark btn-block bi bi-emoji-heart-eyes"><%= link_to ' AMAZING', cart_products_checkout_path(rating: "3"), class:"" %></button> 
        </div>
        
         <%#= link_to '', cart_products_checkout_path, class:"text-start text-white " %>
      </div>
    </div>
  </div>
  <% end %>

</div> 
            <!--END OF RATE EXPERIENCE-->
            </div>
    </div>
     
</div>

<h1>TEST SWIPE</h1>

 




<!--END SWIPER TEST-->


<!--START OF MODAL-->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--  <div class="btn btn-primary  text-start"> <%#= link_to 'Checkout', cart_products_checkout_path, class:"text-start text-white stretched-link" %> <span id="check-amt">$<%#= cart_price_total_wtax %></span>  </div>-->
<!--</button>-->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header text-center">-->
<!--        <h5 class="modal-title " id="exampleModalLabel"> Rate Your Experience</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
      
<!--      <div class="text-center mb-2">-->
<!--        <div class="circle-image"> <img src="https://i.imgur.com/39fcglK.png" width="50"> </div> <span class="help-text mb-1 fw-500">Thankyou [user_name]</span> <small class="text-black-50">Did You Enjoy Your Experience?</small>-->
<!--        <div class="buttons mb-3 mt-4 px-5"> <button class="btn btn-outline-dark btn-block" data-bs-dismiss="modal">Yes, Absolutely!</button> <button class="btn btn-outline-dark btn-block" data-bs-dismiss="modal">Better Luck Next Time</button> </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <%# end %>-->

<!--</div> -->
<!--END OF MODAL-->
 