<p id="notice"><%= notice %></p>

<h1>Cart Products</h1>
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Price per item</th>
      <th>User ID (keep for test)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_products.each do |cart_product| %>
      <% if cart_product.user_id == logged_in %>
        <% if product = get_product_by_id(cart_product.product_id) %>
          <tr>
            <td><%= link_to product.name, product %></td>
            <td><img src=<%= product_first_image(product) %> width="200"></td>
            <td><%= cart_product.quantity %></td>
            <td><%= cart_product.user_id %></td>
            <td><%= product.price %></td>
            <td><%= link_to 'Show', cart_product %></td>
            <td><%= link_to 'Edit', edit_cart_product_path(cart_product) %></td>
            <td><%= link_to 'Destroy', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<h1>Total price: <%= cart_price_total %></h1>
<br>



<br/>
<h1>Full cart table (dev)</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Color</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_products.each do |cart_product| %>
          <tr>
            <td><%= cart_product.product_id %></td>
            <td><%= cart_product.quantity %></td>
            <td><%= cart_product.size %></td>
            <td><%= cart_product.quantity %></td>
            <td><%= cart_product.user_id %></td>
            <td><%= link_to 'Show', cart_product %></td>
            <td><%= link_to 'Edit', edit_cart_product_path(cart_product) %></td>
            <td><%= link_to 'Destroy', cart_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        
    <% end %>
  </tbody>
</table>

<%= link_to 'New Cart Product', new_cart_product_path %>


<!--Start Cart -->
<div class="container-fluid px-6 py-6 mx-auto bg-light">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading margin-left">Shopping Bag</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-3">
                    <h6 class="mt-2">Color</h6>
                </div>
                
                <div class="col-3">
                    <h6 class="mt-2">Size</h6>
                </div>
                
                <div class="col-3">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                
                <div class="col-3">
                    <h6 class="mt-2">Price</h6>
                </div>
                
            </div>
        </div>
    </div>
    
    <% @cart_products.each do |cart_product| %>
    <% if cart_product.user_id == logged_in %>
    <% if product = get_product_by_id(cart_product.product_id) %>
    <div class="row d-flex justify-content-center border-top">
        <div class="col-5 " >
            <div class="row d-flex ">
                 <!--Product Image goes here-->
                <div class="book margin-left"> <img src=<%= product_first_image(product) %> class="book-img"> </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text margin-left"> <%= product.name %> </h6>
                </div>
                
            </div>
        <%= link_to 'Remove', cart_product, method: :delete, data: { confirm: 'Are you sure you want to remove this product?' }, class:"mob-text margin-left" %>

        </div>
        <div class="my-auto col-7"> 
            <div class="row text-right">
                <div class="col-3">
                    <h6 class="mob-text"><%= cart_product.color %></h6>
                </div>
                <div class="col-3">
                    <h6 class="mob-text"><%= cart_product.size %></h6>
                </div>
                <div class="col-3">
                    <h6 class="mob-text"><%= cart_product.quantity %></h6>
                </div>
                <div class="col-3">
                    <h6 class="mob-text">$<%= product.price %></h6>
                </div>
             </div>
        </div>
    </div>
  <% end %>
  <% end %>
  <% end %>
    


        <div class="col-lg-12">
            <div class="card ">
                        <h3 class="text-start">Subtotal<h6 class="text-end">$<%= cart_price_total %></h6></h3> 
                            <h3 class="text-start">Taxes</h3>
                            <h6 class="text-end">$2.99</h6>
                        <div class="row d-flex " id="tax">
                            <h3 class="mb-1 text-start">Total (tax included)</h3>
                            <h6 class="mb-1 text-end">$<%= cart_price_total_wtax %></h6>
                        </div> <button class="btn-block btn-blue"> <span> <span id="checkout">Checkout</span> <span id="check-amt">$<%= cart_price_total_wtax %></span> </span> </button>
            </div>
    </div>
</div>