<%= form_tag sessions_path do %>
 <form>
     
     
  <div class="container text-center mt-5"> 
   <h1 class="display-5">Log in to enter the <br> wonderland of <br>fashion...</h1>
     </div>
   
   <div class="container form-control-sm col-md-3 mx-auto"> 
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%= label_tag :email %></label>
      <%= text_field_tag :log_in_email, params[:email], :class => "form-control"%>
    <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"><%= label_tag :password %></label>
    <!--<input type="password" class="form-control" id="exampleInputPassword1">-->
       <%= password_field_tag :log_in_password, nil, :class => "form-control" %>
  </div>
  <!--<button type="submit" class="btn btn-primary">Submit</button>-->
     <%= submit_tag "Log In", :class => "btn btn-secondary" %><br>
      
     <!--<%= link_to "Register", register_path, class:"nav-link" %>-->

     </div></div>
      <% end %>
</form>

<hr></hr>
<div class="text-center">
      <p><%= link_to "Forgotten password?", new_password_reset_path %></p>

</div>
 
