<p id="notice"><%= notice %></p>

<h1>Product Searches</h1>

<table>
  <thead>
    <tr>
      <th>Search</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_searches.each do |product_search| %>
      <tr>
        <td><%= product_search.search %></td>
        <td><%= link_to 'Show', product_search %></td>
        <td><%= link_to 'Edit', edit_product_search_path(product_search) %></td>
        <td><%= link_to 'Destroy', product_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Search', new_product_search_path %>
