<%= form_for(cart_product) do |f| %>
    <div class="container">
    <div class="card">
	<div class="container-fliud">
	<div class="wrapper row">
    <!--Start of image-->
    <div class="preview col-md-6">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
    <div class="carousel-item active">
    <img src=<%= product.image %> class="d-block w-100" alt="...">
    </div>
        <!--<div class="carousel-item">-->
        <!--  <img src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" class="d-block w-100" alt="...">-->
        <!--</div>-->
        <!--<div class="carousel-item">-->
        <!--  <img src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" class="d-block w-100" alt="...">-->
        <!--</div>-->
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
		<!--<div class="preview-pic tab-content">-->
		<!--  <div class="tab-pane active" id="pic-1"><img src=<%= product.image %> /></div>-->
		<!--  <div class=" tab-pane" id="pic-2"><img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/xbncbko2smutysktehvh/sportswear-tech-fleece-joggers-KyTww3X2.png" /></div>-->
		<!--</div>-->
		<ul class="preview-thumbnail nav nav-tabs">
		  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW9ASrv-XVR4S7iSdV_4I1wd8xPuCzAiJFnG8KL9iaqVEcd3k2tRfeqhfHV3wPANJBq_U&usqp=CAU" /></a></li>
		  <li><a data-target="#pic-2" data-toggle="tab"><img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/xbncbko2smutysktehvh/sportswear-tech-fleece-joggers-KyTww3X2.png" /></a></li>
		  <li><a data-target="#pic-3" data-toggle="tab"><img src="https://xcdn.next.co.uk/common/Items/Default/Default/Publications/G35/shotview-315x472/102/338-850s.jpg" /></a></li>
		  <li><a data-target="#pic-4" data-toggle="tab"><img src="https://images.asos-media.com/products/nike-tech-fleece-sweatpants-navy/11696729-1-navy?$XXL$&wid=513&fit=constrain" /></a></li>
		</ul>
	</div>
		<!--End of image-->
    
    
        
		<div class="details col-md-6">
			<h3 class="product-title"><%= product.name %></h3>
			<p class="product-description"><%= product.description %></p>
			<h4 class="price">current price: <span> $<%= product.price %></span></h4>


        <!-- START OF FORM -->
            <!-- Hidden product id field -->
            <div class="field">
                <%= f.hidden_field :product_id, value:product.id %>
            </div>
            
            <div class="field">
                <h3>Sizes</h3>
                <%= f.select :size, product_sizes(product) %>
            </div>
			
			<div class="field">
                <h3>Quantity</h3>
                <%= f.number_field :quantity, value:1 %>
            </div>
			
			<div class="field">
                <h3>Colors</h3>
                <%= f.select :color, product_colors(product) %>
            </div>
            
            <!-- Hidden user id field -->
            <div class="field">
                <%= f.hidden_field :user_id, id: :cart_product_user_id, value:logged_in %>
            </div>
            
            <div class="actions">
                <%= f.submit "Add To Cart" %>
            </div>
		<!-- END OF FORM -->
		</div>
		</div>
		</div>
		</div>
    	</div>
	<% end %>