<%= form_for(cart_product) do |f| %>
    <div class="container">
    <div class="card">
	<div class="container-fliud">
	<div class="wrapper row">
    <!--Start of image-->
    <div class="preview col-md-6">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
         <% product_images(product).each_with_index do |image, index| %>
    <div class="carousel-item <%= "active" if index.zero? %>">
    <img src=<%= image %>  class="d-block w-100" alt="">
    </div>
    <% end %>
    </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
	</div>
		<!--End of image-->
    
    
        
		<div class="details col-md-6 mx-auto">
			<h3 class="product-title"><%= product.name %></h3>
			<p class="product-description"><%= product.description %></p>
			<h4 class="price">current price: <span> $<%= product.price %></span></h4>


        <!-- START OF FORM -->
            <!-- Hidden product id field -->
            <div class="field">
                <%= f.hidden_field :product_id, value:product.id %>
            </div>
            
            <div class="field">
                <h3>Sizes</h3>
                <h5 class="text-uppercase"><%= f.select :size, product_sizes(product) %></h5>
            </div>
			
			<div class="field">
                <h3>Quantity</h3>
                <%= f.number_field :quantity, value:1 %>
            </div>
			
			<div class="field">
                <h3>Colors</h3>
                <%= f.select :color, product_colors(product) %>
            </div>
            
            <!-- Hidden user id field -->
            <div class="field">
                <%= f.hidden_field :user_id, id: :cart_product_user_id, value:logged_in %>
            </div>
            
            <div class="actions">
                <%= f.submit "Add To Bag" %>
                
            </div>
		<!-- END OF FORM -->
		</div>
		</div>
		</div>
		</div>
    	</div>
	<% end %>
