 
 
  <div class="box">
    <div id="overlay">
      <div class="image">
         <%= gravatar_for get_user %>
        <div class="trick">

        </div>
      </div>
      <ul class="text"><%= get_user.name %></ul>
      <!--<div class="text1">HTML + CSS</div>-->



<br></br>
<div class="panel-group">
  
        <%= link_to "PENDING ORDERS", cart_products_path, class:"title  btn btn-danger btn-outline btn-lg bg-dark text-white" %>
        <%= link_to 'UPDATE LOGIN DETAILS', edit_user_path(get_user), class:"title btn btn-danger btn-outline btn-lg bg-dark text-white" %>
        
  
  <% if subscribed_newsletter(get_user) %>
      <%= link_to 'UNSUBSCRIBE TO NEWSLETTER', users_newsletter_subscription_switch_path, class:" title btn btn-danger btn-outline btn-lg bg-secondary text-white " %>
    <% else %>
      <%= link_to 'SUBSCRIBE TO NEWSLETTER', users_newsletter_subscription_switch_path, class:" title btn btn-danger btn-outline btn-lg bg-dark text-white" %>
    <% end %>
       
    <%= link_to "LOGOUT", logout_path, class:"title btn btn-danger btn-outline btn-lg bg-secondary text-white" %>

  
  
  <!--END MAIN DIV-->
</div>
</div>
 
 
  
