<%= form_for(rating_shown) do |f| %>
  <% if rating_shown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating_shown.errors.count, "error") %> prohibited this rating_shown from being saved:</h2>

      <ul>
      <% rating_shown.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
