 
    <!--<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">-->
    <!--<link href="index.css" rel="stylesheet">-->
  

<!--<main>-->
  <!--Top Banner-->
  <div id="carouselExampleCaptions" class="carousel slide bg-light" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% filter_products_in_cart(@all_products).each_with_index do |product, index| %>
    <div class="carousel-item <%= "active" if index.zero? %>">
      <img src="<%= product.image %>" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block ">
        <h5><%= product.name %></h5>
        <p>$<%= product.price %></p>
        <% if session[:savedlist].include? product.id.to_s %>
        <%= link_to 'Remove', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white rounded mx-auto  " %>
        <% else %>
        <%= link_to 'Save', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white rounded mx-auto " %>
        <% end %>
      </div>
    </div>       
        <% end %>
  </div>
</div>


  <!--START POPULAR--> 
  <div class="container-fluid bg-light shadow-sm ">
    <p class="h1">Popular</p> <br>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% @all_products.each do |product| %>
      <% if product.popularity > 5 %>
      <div class="col col-md-4">
        <div class="card bg-light h-75">
          <img src=<%= product.image %>  alt="..." class="book-img rounded mx-auto d-block" > 
          <div class="card-body">
            <h5 class="card-title text-center"><%= product.name %></h5>
            <p class="card-text text-center"> $<%= number_with_precision(product.price, :precision => 2) %></p>
            <% if session[:savedlist].include? product.id.to_s %>
            <%= link_to 'Remove', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white rounded mx-auto d-block" %>
            <% else %>
            <%= link_to 'Save', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white rounded mx-auto d-block" %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
      </div><br>
  </div><br>
  <!--END POPULAR-->


<!--START COLLECTIONS-->
   <div class="container-fluid bg-light shadow-sm mx-auto">
    <h1 class="text-start">Collections</h1> 
    <h6 class="text-end"><%= link_to "see all +", seeAllProducts_path %></h6>

<!--WOMEN-->
<div class="container-flex">
  <div class="row">
    <div class="col">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Women</h2>
        <!--<p class="lead">Code to retrieve total product count</p>-->
          <small class="text-muted"><p> <%= get_product_category_count("women") %> ITEMS</p></small>
        <a class="btn btn-primary text-white" aria-current="page" href="/products/women">Explore</a>
      </div>    
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <!--MEN-->
     <div class="col">
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Men</h2>
          <small class="text-muted"><p> <%= get_product_category_count("Men") %> ITEMS</p></small>
        <a class="btn btn-primary text-white" aria-current="page" href="/products/men">Explore</a>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    </div>
  </div>
  
   <div class="row">
    <div class="col">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
      <div class="my-3 py-3">
          <h2 class="display-5">Kids</h2>
          <small class="text-muted"><p><%= get_product_category_count("kids") %> ITEMS </p></small>
        <a class="btn btn-primary text-white" aria-current="page" href="/products/kids">Explore</a>
      </div>    
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

     <div class="col">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">New-Ins</h2>
          <small class="text-muted"><p> <%= get_product_category_count("new-ins") %> ITEMS</p></small>
        <a class="btn btn-primary text-white" aria-current="page" href="/products/new-ins">Explore</a>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    </div>
  </div>
 
     
  </div>

  </div>
  <!--END COLLECTIONS-->
 
 <!--FOOTER-->
<%= render template: "newsletter_emails/new", newsletter_email: @newsletter_email %>
</div>

  
 
 
 
<!--<footer class=" bg-light shadow-sm mx-auto" >-->
<!--   <section class="home-newsletter">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--	<div class="single">-->
<!--	  <BR></BR>-->
<!--		<h2>Newsletter</h2>-->
		 
<!--		<small class="text-muted"><p><h6>signup with our newsletter....</h6><br></p></small>-->

<!--	<div class="input-group">-->
<!--         <input type="email" class="form-control" placeholder="Enter your email">-->
<!--         <span class="input-group-btn">-->
           
<!--         <button class="btn btn-dark" type="submit">Subscribe</button>-->
<!--         </span>-->
<!--           </div>-->
<!--	</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--         <br><br><br><br>-->

<!--</section>-->
<!--</footer>-->
<!--END FOOTER-->

 
       