<div class="container"> 
<p id="notice"><%= notice %></p>

<h3 class="text-center ">Customer's Purchased Products Statistics</h3>
<br>
<table class="table table-hover table-dark text-center">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Image</th>
      <th>No. of purchases</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchased_products.each do |purchased_product| %>
      <% if product = get_product_by_id(purchased_product.product_id) %>
        <tr>
          <td><%= link_to product.name, product, class:"text-white" %></td>
          <td>
          <%= link_to product do %>    
              <img src=<%= product_first_image(product) %> width="100">
          <% end %>    
          </td>
          <td><%= purchased_product.count %></td>
          <td><%#= link_to 'Show', purchased_product %></td>
          <td><%#= link_to 'Edit', edit_purchased_product_path(purchased_product) %></td>
          <td><%#= link_to 'Destroy', purchased_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%#= link_to 'New Purchased Product', new_purchased_product_path %>
