<div class="container"> 
<p id="notice"><%= notice %></p>

<h3 class="text-center display-6">Customer Ratings</h3>
<table class="table table-hover text-center">
  <thead>
    <tr class="table-dark">
      <!--<th>User ID</th>-->
      <th>Bad</th>
      <th>Okay</th>
      <th>Good</th>
      <th>Amazing</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody class="text-center">
      <tr>
        <td><%= getCustomerRatingStat(0) unless !getCustomerRatingStat(0) %></td>
        <td><%= getCustomerRatingStat(1) unless !getCustomerRatingStat(1) %></td>
        <td><%= getCustomerRatingStat(2) unless !getCustomerRatingStat(2) %></td>
        <td><%= getCustomerRatingStat(3) unless !getCustomerRatingStat(3) %></td>
      </tr>
  </tbody>
</table>

<br>
</div>
<%#= link_to 'New Customer Rating', new_customer_rating_path %>
