<%= form_for(@newsletter_email = NewsletterEmail.new) do |f| %>
  <% if @newsletter_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter_email.errors.count, "error") %> prohibited this newsletter_email from being saved:</h2>

      <ul>
      <% @newsletter_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--Start of footer-->
  <footer class=" bg-light shadow-sm mx-auto" >
   <section class="home-newsletter">
<div class="field container text-center">
  
<div class="row">
  
<div class="col-sm-12">
  
	<div class="single ">
	  <BR></BR> 

		<h2>Newsletter</h2>
		 
		<small class="text-muted"><p><h6>signup with our newsletter....</h6><br></p></small>
         <%= f.label :email, class:"form-label fs-2 "%>      
         
         <%= f.text_field :email, class:'form-label' %>

     <%= f.submit "Subscribe", class:"btn btn-secondary btn-sm"%>
          </span>
 	</div>
</div>
</div>
</div>
         <br><br><br><br>

</section>
</footer>
  
  <!--end of footer-->
 
<% end %>
