<p id="notice"><%= notice %></p>

<h1>Emails Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletter_emails.each do |newsletter_email| %>
      <tr>
        <td><%= newsletter_email.email %></td>
        <td><%= link_to 'Delete', newsletter_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %> | 
<%= link_to 'New Newsletter Email', new_newsletter_email_path %>
