<h1 class="container text-center"> Products</h1>
<br><br>
<!--<h3>Men product count: <%#= get_product_category_count("Men's") %></h3>-->
<table class="table table-hover">
<thead class="table-dark">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>
    <th>Category</th>
    <th>Popularity</th>
    <th>Size</th>
    <th>Color</th>
    <th>Stock count</th>
    <th>Arrival date</th>
    <th>Description</th>
    <th>Days ago</th>
    <th>Is New Ins</th>
    <th colspan="4"></th>
    </tr>
</thead>

<tbody>
    <% @all_products.each do |product| %>
        <tr>
              
            <td><%= product.id %></td>
            <td><%= link_to product.name, product %></td>
           
            <td>
            <%= link_to product do %>    
                <img src=<%= product_first_image(product) %> width="200">
            <% end %>    
            </td>
          
            <td><%= number_with_precision(product.price, :precision => 2) %></td>
            <td><%= product.category %></td>
            <td><%= product.popularity %></td>
            <td><%= product.size %></td>
            <td><%= product.color %></td>
            <td><%= product.stockcount %></td>
            <td><%= product.arrival %></td>
            <td><%= product.description %></td>
            <td><%= calculate_days_ago(product) %></td>
            <td><%= is_new_in(product) %></td>
            <% if session[:savedlist].include? product.id.to_s %>
                <td><%= link_to 'Remove from Saved list', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white" %></td>
            <% else %>
                <td><%= link_to 'Add to Saved List', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white" %></td>
            <% end %>
            <td><%= link_to 'View Product', nil, class:"btn btn-primary btn-sm text-white" %></td>
            <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-primary btn-sm text-white" %></td>
            <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn btn-secondary btn-sm text-white" %></td>
        </tr>
    <% end %>
</tbody>
</table>
<br>
<%#= link_to 'Add a product', new_product_path %>