<!--This page displays all products in our shop-->

<br><h1 class="text-center">All Products</h1><br> <br>

<div class="text-end"> 
<%= link_to "Filter", filter_path, class:"bi bi-filter text-dark btn-lg margin-right", style:" margin-right: 3rem" %>
</div>

<div class="container-fluid bg-light">
     
<div class="row row-cols-2 row-cols-md-4 g-4 ">
 <% @all_products.each do |product| %>
  <div class="col col-md-4">
    <div class="card h-75 bg-light">
    <%= link_to product do %>
      <img src=<%= product_first_image(product) %>  class="book-img rounded mx-auto d-block"  alt="">
      <div class="card-body">
        <h5 class="card-title text-center"><%= product.name %></h5>
        <p class="card-text text-center">$<%= number_with_precision(product.price, :precision => 2) %></p>
         <% if session[:savedlist].include? product.id.to_s %>
        <%= link_to '', edit_savedlist_path(product), class:"btn btn-secondary btn-circle btn-xl mx-auto d-block bi bi-x-octagon-fill text-white" %>
        <% else %>
        <%= link_to '', edit_savedlist_path(product), class:"btn btn-danger btn-circle btn-xl mx-auto d-block bi bi-heart-fill text-white" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<%= link_to ' Back', :back, class: "bi bi-arrow-return-left" %>