<!--This page displays all products in our shop-->

<br><h1 class="text-center">All Products</h1><br> <br>

<div class="container-fluid bg-light">
<div class="row row-cols-2 row-cols-md-4 g-4 ">
 <% @all_products.each do |product| %>
  <div class="col col-md-4">
    <div class="card h-75 bg-light">
      <img src=<%= product_first_image(product) %>  class="book-img rounded mx-auto d-block"  alt="">
      <div class="card-body">
        <h5 class="card-title text-center"><%= product.name %></h5>
        <p class="card-text text-center">$<%= product.price %></p>
         <% if session[:savedlist].include? product.id.to_s %>
         <%= link_to 'Remove from Cart', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white rounded mx-auto d-block" %>
        <% else %>
        <%= link_to 'Add to Cart', edit_savedlist_path(product), class:"btn btn-primary btn-sm text-white rounded mx-auto d-block" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
