<br></br>
<h1 class="text-center fw-boldgi">Product Description</h1> 

    <div class="container">
    <div class="card">
	<!--<div class="container">-->
	<div class="wrapper row">
    <!--Start of image-->
    <div class="preview col-md-6">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
    <% product_images(@product).each_with_index do |image, index| %>
    <div class="carousel-item <%= "active" if index.zero? %>">
        
    <img src=<%= image %>  class="w-100" alt="">
         
    </img>
    <% if session[:savedlist].include? @product.id.to_s %>
        <%= link_to '', edit_savedlist_path(@product), class:"btn btn-secondary btn-circle btn-xl mx-auto d-block bi bi-x-octagon-fill text-white" %>
        <% else %>
        <%= link_to '', edit_savedlist_path(@product), class:"btn btn-danger btn-circle btn-xl mx-auto d-block bi bi-heart-fill text-white" %>
        <% end %>
     </div>
    <% end %>
    </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
	</div>
		<!--End of image-->
    
		<div class="details col-md-5 mx-auto">
			<h3 class="product-title text-center"><%= @product.name %></h3>
			<p class="product-description text-center"><%= @product.description %></p>
			<hr></hr>
			<h4 class="price text-center ">current price: <span> $<%= number_with_precision(@product.price, :precision => 2) %></span></h4>
    <hr></hr>

        <!-- START OF FORM -->
            <div class="field text-center">
                <h3 class="fw-bolder">Sizes</h3>
                <h5 class="text-uppercase"> <%= @product.size %></h5>
            </div>
            <hr></hr>
			
			<div class="field text-center">
                <h3 class="fw-bolder text-center">Stock Count</h3> <%= @product.stockcount %>
                <%#= f.number_field :quantity, value:1 %>
            </div>
            <hr></hr>
			
			<div class="field text-center">
                <h3 class="fw-bolder">Colors</h3> <%= @product.color.split.map(&:capitalize).join(' ') %>
            </div>
            <hr></hr>
		</div>
		</div>
		</div>
		</div>
		<%= link_to ' Back', :back, class: "bi bi-arrow-return-left" %>

    	</div>
 
      
 
